body {
  margin: 0;
  background-color: #765F56;
  padding: 1em;
  font-family: "Lato";
  color: #765F56;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F2ED;
}

.logotype-container {
  align-self: center;
  flex: 1;
}
.logotype {
  min-width: 500px;
  width: 100%;
}
.map {
  margin-right: 250px;
}
@media only screen and (max-width: 500px) {
  .logotype {
    min-width: auto;
  }
}
svg {
  width: 2em;
  height: 2em;
  fill: #765F56;
  margin-right: 0.5em;
}
.contact {
  align-self: center;
  padding: 0.5em;
  flex: 1;
  display: block;
}
.contact > div {
  margin: 1em 0;
}
.link {
  display: inline-flex;
  align-items: center;
  color: #765F56;
}
.map {
  width: auto;
  margin-right: auto;
}
