body {
  margin: 0;
  background-color: #765F56;
  padding: 1.25em;
  font-family: "Lato";
  color: #765F56;
}
.top-bar {
  background-color: #B9A69E;
  color: #F5F2ED;
  padding: 1em 4em;
}
.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F2ED;
}
.logotype-container {
  align-self: center;
  flex: 1;
}
.logotype {
  min-width: 520px;
  width: 100%;
}
svg {
  width: 2em;
  height: 2em;
  fill: #765F56;
  margin-right: 0.5em;
}
.contact {
  align-self: center;
  padding: 2em;
  flex: 1;
  display: block;
}
.contact > div {
  margin: 1.25em 0;
}
.link {
  display: inline-flex;
  align-items: center;
  color: #765F56;
}
.map {
  width: 100%;
  height: 450px;
}
